    @charset "utf-8";
     :root {
        --blue_color: #05cbc3;
        --black_color: #222831;
        --gray_color: #393e46;
    }
    body {
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        background: var(--gray_color);
        font-size: 15px;
        font-weight: 400;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 18px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
    }
   p {
        line-height: 25px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    a {
        color: #05cbc3;
    }
    a:hover{
        color: #05cbc3;
    }
    strong {
        color: #ffffff;
    }
    .flex_div {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    input, a, button, .transition {
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    input:focus, select:focus, a:focus, button:focus, textarea:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }
    .dashboard_button {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        background: var(--blue_color);
        color: #ffffff;
        height: 42px;
        line-height: 42px;
        border-radius: 2em;
        padding: 0 20px;
        border: none;
        text-transform: capitalize;
        font-weight: 600;
    }
    .dashboard_button i, .dashboard_button img {
        margin-right: 4px;
    }
    .dashboard_button:hover, .dashboard_button:focus {
        background: #ffffff;
        color: var(--blue_color);
        text-decoration: none;
    }
    .black_box {
        background: var(--black_color);
        padding: 15px;
        border-radius: 8px;
    }
    /*=== padding css Start ===*/
    .pad_top_30 {
        padding-top: 30px;
    }
    .pad_top_40 {
        padding-top: 40px;
    }
    .pad_top_50 {
        padding-top: 50px;
    }
    .pad_top_60 {
        padding-top: 70px;
    }
    .pad_top_70 {
        padding-top: 70px;
    }
    .pad_bottom_30 {
        padding-bottom: 30px;
    }
    .pad_bottom_40 {
        padding-bottom: 40px;
    }
    .pad_bottom_50 {
        padding-bottom: 50px;
    }
    .pad_top_bottom_30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pad_top_bottom_40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pad_top_bottom_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pad_top_bottom_60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    /*=== padding css end ===*/
    /*== radio box css ==*/
    .radio_box input[type="radio"] {
        display: none;
    }
    .radio_box label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin: 5px 0;
    }
    .radio_box .r_box {
        float: left;
        width: 16px;
        height: 16px;
        margin-top: 1px;
        background: var(--gray_color);
        border: 4px solid transparent;
        border-radius: 50%;
        position: relative;
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    .radio_box .r_text {
        display: block;
        font-size: 16px;
        text-transform: capitalize;
        padding-left: 22px;
    }
    .radio_box .r_text a {
        text-decoration: none;
        color: var(--blue_color);
    }
    .radio_box .r_text a:hover {
        text-decoration: none;
        color: #000000;
    }
    .radio_box input[type="radio"]:checked ~.r_box {
        border-color: var(--blue_color);
        background: var(--gray_color); 
    }
    /*== radio box css ==*/
    /*== check box css ==*/
    .check_box input[type="checkbox"] {
        display: none;
    }
    .check_box label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin: 5px 0;
    }
    .check_box .c_box {
        float: left;
        width: 15px;
        height: 15px;
        background: #cccccc;
        position: relative;
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
        vertical-align: middle;
        border-radius: 2px;
        margin-top: 1px;
    }
    .check_box .c_box:after {
        position: absolute;
        content: "";
        left: 3px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        visibility: hidden;
        opacity: 0;
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    .check_box .c_text {
        display: block;
        text-transform: capitalize;
        padding-left: 22px;
    }
    .check_box .c_text a {
        text-decoration: none;
        color: #007bff;
    }
    .check_box .c_text a:hover {
        text-decoration: none;
        color: #000000;
    }
    .check_box input[type="checkbox"]:checked~.c_box {
        background: var(--blue_color);
    }
    .check_box input[type="checkbox"]:checked~.c_box:after {
        visibility: visible;
        opacity: 1;
        transform: rotate(-31deg);
        -webkit-transform: rotate(-31deg);
        -moz-transform: rotate(-31deg);
        -ms-transform: rotate(-31deg);
        -o-transform: rotate(-31deg);
    }
    /*== check box css ==*/
    /*====== Searchbar css Start ======*/
    .searchbar_dv{
        position: relative;
        width: 100%;
    }
    .searchbar_dv input {
        width: 100%;
        background: var(--gray_color);
        color: #ffffff;
        font-weight: 500;
        padding: 0 36px 0 15px;
        border-radius: 2em;
        height: 45px;
        border: none;
    }
    .searchbar_dv .search_icon {
        position: absolute;
        right: 15px;
        top: 13px;
        background: transparent;
        border: none;
        padding: 0;
        color: #ffffff;
        font-size: 20px;
    }
    .hdr_searchbar {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 18%;
        right: 20%;
        z-index: 1;
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
        width: 300px;
    }
    .hdr_searchbar.search_open {
        visibility: visible;
        opacity: 1;
        right: 20.7%;
    }
    /*====== Searchbar css End ======*/
    /*====== Placeholder css start ======*/
    .white_input_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ffffff;
    }
    .white_input_text::-moz-placeholder { /* Firefox 19+ */
      color: #ffffff;
    }
    .white_input_text:-ms-input-placeholder { /* IE 10+ */
      color: #ffffff;
    }
    .white_input_text:-moz-placeholder { /* Firefox 18- */
      color: #ffffff;
    }
    /*====== Placeholder css End ======*/
    .gf_dashboard_wrapper {
        min-height: 100vh;
    }
    .gf_dash_header {
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 30px;
    }
    .gif_logo img{
        max-height: 44px;
    }
    .dash_close_btn {
        display: inline-block;
        border: 1px solid #fff;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
    }
    .dash_close_btn i:before {
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    .gf_dashboard_sidebar {
        width: 300px;
        background: var(--black_color);
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        overflow-y: auto;
        -webkit-transition: all ease-in 0.5s;
        -moz-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
    .gf_dashboard_navs {
        padding: 30px 20px;
    }
    .gf_dashboard_navs ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .gf_dashboard_navs ul li {
        position: relative;
    }
    .gf_dashboard_navs ul li a {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px;
        margin: 4px 0;
        border-radius: 6px;
        text-transform: capitalize;
    }
    .gf_dashboard_navs ul li a:hover, .gf_dashboard_navs ul li a:focus {
        background: var(--blue_color);
        color: #ffffff;
    }
    .gf_dashboard_navs ul li a .nav_icon {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 8px;
    }
    .gf_dash_content {
        padding-left: 300px;
        -webkit-transition: all ease-in 0.5s;
        -moz-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
   .gf_dash_content_inr {
        padding: 40px 30px;
    }
    /*========= header css ============*/
    .dash_page_header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        background: var(--black_color);
        padding: 12px 15px;
        border-radius: 8px;
        align-items: center;
        margin-bottom: 20px;
    }
    .dash_page_header .dash_page_title h3 {
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .l_user_dropdown {
        position: relative;
        min-width: 150px;
    }
    .l_dropdown_btn {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .l_dropdown_btn:hover {
        text-decoration: none;
    }
    .l_dropdown_btn .user_title {
        display: inline-block;
        padding-left: 6px;
        font-size: 14px;
        color: #fff;
        overflow: hidden;
        max-width: 105px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .l_dropdown_btn:after {
        position: absolute;
        content: "\f078";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-size: 12px;
        top: 10px;
        right: 0;
        color: #ffffff;
    }
    .l_dropdown_btn > img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .l_user_dropdownmenu {
        position: absolute;
        top: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        list-style: none;
        text-align: left;
        background: var(--black_color);
        min-width: 150px;
        z-index: 11;
        padding: 10px 0 0px;
        border-bottom: 3px solid var(--blue_color);
        border-radius: 0 0 4px 4px;
        display: none;
    }
    .l_user_dropdownmenu li a {
        padding: 6px 10px;
        display: block;
        font-size: 15px;
        line-height: 20px;
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
    }
    .l_user_dropdownmenu li a:hover {
        color: #fff;
        background: var(--blue_color);
    }
    .l_user_dropdownmenu li a i {
        margin-right: 5px;
        font-size: 14px;
        width: 20px;
    }
    .l_user_dropdownmenu.show_menu{
        display: block;
    }
    /*========= header css ============*/
    /*========= dashboard form css start ============*/
    .gif_dashboard_form {
        padding: 15px 0;
    }
    .gif_dashboard_form .form_group {
        margin-bottom: 20px;
    }
    .gif_dashboard_form .form_group .labels {
       /* font-size: 16px;*/
        margin-top: 5px;
    }
    .gif_dashboard_form .form_group .or_text {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    .gif_dashboard_form .form_group input, .gif_dashboard_form .form_group select{
        width: 100%;
        height: 45px;
        padding: 0 15px;
        border: none;
        background: var(--gray_color);
        color: #ffffff;
        border-radius: 2em;
    }
    .gif_dashboard_form .form_group input[type="file"]{
        padding-top: 10px;
    }
    .gif_dashboard_form .form_group .custome_file_upload_url{
        text-align: center;
    }
    .gif_dashboard_form .form_group textarea {
        width: 100%;
        height: 100px;
        padding: 10px 15px;
        border: none;
        background: var(--gray_color);
        color: #ffffff;
        border-radius: 8px;
        resize:none;
    }
    .gif_dashboard_form .img_preview_dv img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        object-fit: cover;
    }
    .img_preview_dv .gif_img_preview{
        display: inline-block;
    }
    .img_upload_button {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 100%;
        height: 45px;
        line-height: 45px;
        background: var(--blue_color);
        color: #ffffff;
        border-radius: 2em;
        cursor: pointer;
        font-weight: 500;
    }
    .img_upload_button input {
        display: none;
    }
    .gif_dashboard_form .user_radiobox label + label {
        margin-left: 12px;
    }
    .gif_dashboard_form .reset_button {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        background: var(--gray_color);
        color: #ffffff;
        height: 42px;
        line-height: 42px;
        border-radius: 2em;
        padding: 0 20px;
        border: none;
        text-transform: capitalize;
        font-weight: 600;
    }
    .gif_dashboard_form .reset_button:hover {
        background: var(--blue_color);
        color: #ffffff;
    }
    .gif_dashboard_form .ck.ck-editor__main>.ck-editor__editable {
        background: var(--gray_color);
        border-radius: 0;
    }
    /*========= dashboard form css End ============*/
    /*========= Edit profile css End ============*/
    .edt_profile_image_box {
        text-align: center;
        margin-bottom: 30px;
    }
    .edt_profile_img {
        display: inline-block;
    }
    .edt_profile_img img {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        border: 2px solid var(--blue_color);
        object-fit: cover;
    }
    .profile_upload_btn input {
        display: none;
    }
    .profile_upload_btn {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 0 18px;
        background: var(--gray_color);
        cursor: pointer;
        border-radius: 2em;
        line-height: 35px;
        height: 35px;
    }
    .profile_upload_btn:hover {
        background: var(--blue_color);
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    /*========= Edit profile css End ============*/
    /*====== select 2 css start ======*/
    .gif_dashboard_form .select2-container {
        width: 100% !important;
    }
    .gif_dashboard_form .select2-container .select2-selection {
        background: var(--gray_color);
        padding: 10px;
        border: none;
        border-radius: 2em;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-height: 45px;
    }
    .gif_dashboard_form .select2-container .select2-selection .select2-selection__rendered {
        margin:0;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: var(--black_color);
        border: 1px solid #ccc;
        font-size: 15px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        background-color: transparent;
        border-right: 1px solid #ccc;
    }
    .select2-results__options .select2-results__option {
        background: var(--gray_color);
        color: #fff;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--blue_color);
        color: #ffffff;
    }
    /*====== select 2 css End ======*/
    /*========= dashboard Table css start ============*/
    .table {
        color: #ffffff;
    }
    table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
        background-color: var(--black_color);
    }
    .gif_dasboard_table .table tr{
        background: transparent;
    }
    .gif_dasboard_table .table tr td, .gif_dasboard_table .table tr th {
        border-bottom: 1px solid #ccc;
        color: #fff;
        padding: 8px 10px;
        vertical-align: middle;
        background: transparent;
        border-top: none;
        font-size: 14px;
    }
    .gif_dasboard_table .table tr th {
        border-top: 0;
        font-weight: 500;
    }
    .gif_dasboard_table .table tr td:focus {
        outline: none;
    }
    table.dataTable.no-footer {
        border-bottom: none;
    }
    .gif_dasboard_table .table tr td select {
        text-transform: capitalize;
        background: var(--black_color);
        border-radius: 3px;
        color: #fff;
        border: none;
        height: 23px;
    }
    .gif_dasboard_table .table tr td .n_count {
        margin-left: 5px;
    }
   .table .a_icon {
        text-decoration: none;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 15px;
        border-radius: 50%;
        text-align: center;
        background: transparent;
        color: var(--blue_color);
        border: 1px solid var(--blue_color);
        cursor: pointer;
    }
   .table .a_icon:hover,.table .a_icon:focus {
        background: var(--blue_color);
        color: #ffffff;
    }
    .gif_dasboard_table tr td .role_text {
        display: inline-block;
        padding: 5px 8px;
        background: #222831;
        font-size: 14px;
        border-radius: 2em;
        text-align: center;
        min-width: 105px;
        text-transform: capitalize;
    }
    .gif_dash_searchbar_box{
        margin-bottom: 30px;
    }
    .gif_dash_searchbar_box .row {
        align-items: center;
    }
    .gif_dash_searchbar_box .search_right_side {
        text-align: right;
    }
    .switch_checkbox {
        margin: 0;
        height: 26px;
    }
    .switch_checkbox .round_dv {
        position: relative;
        display: inline-block;
        margin: 0;
        width: 50px;
        height: 26px;
        background: var(--black_color);
        border-radius: 2em;
        -webkit-transition: all ease-in 0.25s;
        -ms-transition: all ease-in 0.25s;
        transition: all ease-in 0.25s;
    }
    .switch_checkbox .circles {
        position: absolute;
        left: 4px;
        top: 4px;
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border-radius: 50%;
        -webkit-transition: all ease-in 0.25s;
        -ms-transition: all ease-in 0.25s;
        transition: all ease-in 0.25s;
    }
    .switch_checkbox input[type="checkbox"]{
        display: none;
    }
    .switch_checkbox input[type="checkbox"]:checked ~ .round_dv {
        background: var(--blue_color);
    }
    .switch_checkbox input[type="checkbox"]:checked ~ .round_dv .circles {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        -moz-transform: translateX(24px);
        -o-transform: translateX(24px);
        transform: translateX(24px);
    }
    .gif_dasboard_table tr td .dashboard_button {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        font-weight: 500;
        padding: 0 15px;
    }
    /*========= dashboard Table css End ============*/
    /*========= dashboard Datatable css start ============*/
    table.dataTable>tbody>tr.child ul.dtr-details {
        width: 100%;
    }
    .gif_dasboard_table .table tr td.child {
        padding-bottom: 0;
    }
    table.dataTable>tbody>tr.child ul.dtr-details>li>span {
        vertical-align: middle;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, 
    table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
        border: 1px solid white;
        background-color: var(--blue_color);
    }
    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_info, 
    .dataTables_wrapper .dataTables_processing, 
    .dataTables_wrapper .dataTables_paginate {
        color: #fff;
    }
    .dataTables_wrapper .dataTables_length select, 
    .dataTables_wrapper .dataTables_filter input {
        border: none;
        color: #fff;
        background: var(--black_color);
        height: 35px;
    }
    .dataTables_wrapper .dataTables_length select option{
        background: var(--black_color);
    }
    .pagination .paginate_button {
        margin: 0 1.5px;
    }
    .pagination .paginate_button .page-link {
        box-sizing: border-box;
        display: inline-block;
        min-width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        padding: 0 12px;
        color: var(--blue_color);
        border: 1px solid var(--blue_color);
        background: transparent;
        border-radius: 2px;
    }
    .pagination .paginate_button .page-link:hover {
        color: white !important;
        border-color: var(--blue_color);
        background: var(--blue_color);
    }
    .pagination .paginate_button.active .page-link, 
    .pagination .paginate_button.active .page-link:hover {
        color: #ffffff !important;
        border: 1px solid var(--blue_color);
        background-color: var(--blue_color);
        background: var(--blue_color);
    }
    .pagination .paginate_button.disabled .page-link {
        border: none;
        color: #ffffff;
        opacity: 0.5;
    }
    /*========= dashboard Datatable css End ============*/
    /*========= Gif Listing css End ============*/
    .h_gif_item {
        position: relative;
        margin-bottom: 30px;
    }
    .gif_image{
        position: relative;
    }
    .gif_image img {
        position: relative;
        border-radius: 8px;
    }
    .h_gif_item .gif_image img {
        height: 160px;
        width: 100%;
        object-fit: cover;
    }
   .h_gif_item .h_gif_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 50%);
        border-radius: 8px;
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    .h_gif_overlay_text {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .h_gif_overlay_text .activity_icons {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
    }
    .h_gif_overlay_text .activity_icons .icons {
        display: inline-block;
        background: #ffffff;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        font-size: 16px;
        color: var(--blue_color);
        margin: 0 1px;
        cursor: pointer;
    }
    .h_gif_overlay_text .activity_icons .icons:hover, 
    .h_gif_overlay_text .activity_icons .icons:focus {
        background: var(--blue_color);
        color: #fff;
    }
    .h_gif_overlay_text .gif_title {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .h_gif_overlay_text .gif_title h4 {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .h_gif_overlay_text .gif_title h4 a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .h_gif_overlay_text .gif_title h4 a:hover{
        color: var(--blue_color);
    }
    .h_gif_item:hover .h_gif_overlay, 
    .h_gif_item:focus .h_gif_overlay {
        opacity: 1;
        visibility: visible;
    }
    /*========= Gif Listing css End ============*/
    /*========= Gif Status Button 2 start ============*/
    .g_status_button2{
        text-align: left;
    }
    .g_status_button2 .labels {
        display: inline-block;
        margin-bottom: 0;
    }
    .g_status_button2 input[type="radio"] {
        display: none;
    }
    .g_status_button2 .round_dv {
        display: inline-block;
        position: relative;
        margin: 0;
        width: 75px;
        height: 28px;
        line-height: 28px;
        background: var(--black_color);
        border-radius: 2em;
        -webkit-transition: all ease-in 0.25s;
        -ms-transition: all ease-in 0.25s;
        transition: all ease-in 0.25s;
        padding: 0 5px;
        cursor: pointer;   
        font-size: 13px; 
        text-align: center;
    }
    .g_status_button2 .round_dv i {
        margin-left: 4px;
        vertical-align: middle;
    }
    .g_status_button2 input[type="radio"]:checked ~ .round_dv {
        background: var(--blue_color);
    }
    .g_status_button2 .deny input[type="radio"]:checked ~ .round_dv {
        background: red;
    }
    /*========= Gif Status Button 2 End ============*/
    /*========= setting page css start ============*/
    .gif_setting_form .form_heading {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .setting_form_box {
        margin-bottom: 15px;
    }
    .gif_setting_form .input_group .upload_imgs {
        max-height: 44px;
        margin-top: 10px;
    }
    .gif_setting_form .input_group #fav_preview {
        width: 32px;
    }
    /*========= setting page css start ============*/

    /*========= Ads page page css start/ Shubham ============*/
    .screen_check_box{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .screen_check_box .form_check_label{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        align-items: center;
    }
    /*========= Ads page page css start/ Shubham ============*/

    /*==== responsive css start ====*/
    @media(max-width: 1100px){
        /*========= dashboard sidebar css ============*/
        .gf_dashboard_sidebar {
            width: 80px;
            text-align: center;
        }
        .gf_dash_header {
            padding-left: 7px;
            padding-right: 7px;
        }
        .gif_logo img {
            max-height: 35px;
        }
        .dash_close_btn {
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 16px;
        }
        .gf_dashboard_navs {
            padding: 20px 6px;
        }
        .gf_dashboard_navs ul li a {
            padding: 0;
            margin: 10px 0;
            background: transparent;
        }
        .gf_dashboard_navs ul li a:hover, 
        .gf_dashboard_navs ul li a:focus {
            background: transparent;
        }
        .gf_dashboard_navs ul li a .nav_text {
            font-size: 11px;
            line-height: 16px;
            display: block;
            margin-top: 4px;
            word-break: break-word;
        }
        .gf_dashboard_navs ul li a .nav_icon {
            transition: all ease-in 0.25s;
            -webkit-transition: all ease-in 0.25s;
            -moz-transition: all ease-in 0.25s;
            display: inline-block;
            margin: 0;
            font-size: 15px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 50%;
            background: var(--gray_color);
            color: #ffffff;
        }
        .gf_dashboard_navs ul li a .nav_icon:hover {
            background: var(--blue_color);
        }
        .gf_dash_content {
            padding-left: 80px;
        }
        /*========= dashboard sidebar css ============*/
    }
    @media(max-width: 991px){
        .setting_box_column {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media(max-width: 767px){
        *{font-size: 13px;}
        .gif_dasboard_table .table tr td, .gif_dasboard_table .table tr th{
            font-size: 13px;
        }
        .black_box {
            padding: 12px 10px;
        }
        .gf_dash_content_inr {
            padding: 40px 15px;
        }
        .dash_page_header {
            padding: 10px;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
        }
        .dash_page_header .dash_page_title h3 {
            font-size: 18px;
        }
        .gif_setting_form .form_heading {
            margin-bottom: 10px;
            font-size: 16px;
        }
        .dash_page_header .h_right_side {
            margin-top: 8px;
        }
        .l_dropdown_btn > img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .l_user_dropdownmenu li a {
            font-size: 14px;
        }
        .l_user_dropdownmenu li a i {
            font-size: 14px;
        }
        .gif_dashboard_form .form_group {
            margin-bottom: 12px;
        }
        .gif_dashboard_form .form_group .labels {
            font-size: 13px;
        }
        .gif_dashboard_form .form_group input, 
        .gif_dashboard_form .form_group select {
            padding: 0 10px;
            font-size: 13px;
            height: 35px;
        }
        .gif_dashboard_form .form_group input[type="file"] {
            padding-top: 6px;
        }
        .gif_dashboard_form .form_group input.logo_input {
            padding-top: 11px;
        }
        .gif_dashboard_form .form_group textarea {
            height: 100px;
            padding: 10px 10px;
            font-size: 13px;
        }
        .gif_dashboard_form .img_preview_dv img {
            width: 80px;
            height: 80px;
        }
        .img_upload_button {
            height: 35px;
            line-height: 35px;
            font-size: 13px;
        }
        .gif_dashboard_form .select2-container .select2-selection {
            padding: 6px 10px;
            min-height: 35px;
        }
        .searchbar_dv input {
            padding: 0 24px 0 10px;
            height: 40px;
        }
        .searchbar_dv .search_icon {
            right: 10px;
            top: 12px;
            font-size: 13px;
        }
        .gif_dash_searchbar_box .search_right_side {
            text-align: center;
            margin-top: 12px;
        }
       .table .a_icon {
            width: 26px;
            height: 26px;
            line-height: 24px;
            font-size: 12px;
        }
        .h_gif_overlay_text .activity_icons .icons {
            width: 28px;
            height: 28px;
            line-height: 28px;
            font-size: 13px;
            color: var(--blue_color);
            margin: 0 1px;
        }
        .edt_profile_image_box {
            margin-bottom: 20px;
        }
        .gif_dasboard_table tr td .role_text {
            font-size: 13px;
            min-width: 98px;
        }
    }
    @media(max-width: 600px){
        .setting_box_column {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .gif_setting_box {
            padding: 15px;
            margin-bottom: 14px;
        }
        /*=== switch checkbox css ===*/
        .switch_checkbox {
            margin: 0;
            height: 24px;
        }
        .switch_checkbox .round_dv {
            width: 48px;
            height: 24px;
        }
        .switch_checkbox .circles {
            height: 16px;
            width: 16px;
        }
        /*=== switch checkbox css ===*/
        .screen_check_box .form_check_label{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin: 6px 0;
        }
    }
    @media(max-width: 414px){
        .gif_listing_colm {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /*==== responsive css start ====*/