    @charset "utf-8";
     :root {
        --blue_color: #05cbc3;
        --black_color: #222831;
        --gray_color: #393e46;
    }
    body {
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        background: var(--gray_color);
        font-size: 16px;
        font-weight: 400;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 18px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
    }
   p {
        line-height: 25px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    a {
        color: #05cbc3;
    }
    a:hover{
        color: #05cbc3;
    }
    strong {
        color: #ffffff;
    }
    .sections {
        float: left;
        width: 100%;
    }
    .flex_div {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    input, a, button, .transition {
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    input:focus, select:focus, a:focus, button:focus, textarea:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }
    .dashboard_button {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        background: var(--blue_color);
        color: #ffffff;
        height: 42px;
        line-height: 42px;
        border-radius: 2em;
        padding: 0 20px;
        font-size: 16px;
        border: none;
        text-transform: capitalize;
        font-weight: 600;
    }
    .dashboard_button i, .dashboard_button img {
        margin-right: 4px;
    }
    .dashboard_button:hover, .dashboard_button:focus {
        background: #ffffff;
        color: var(--blue_color);
        text-decoration: none;
    }
    .black_box {
        background: var(--black_color);
        padding: 15px;
        border-radius: 8px;
    }
    /*=== padding css Start ===*/
    .pad_top_30 {
        padding-top: 30px;
    }
    .pad_top_40 {
        padding-top: 40px;
    }
    .pad_top_50 {
        padding-top: 50px;
    }
    .pad_top_60 {
        padding-top: 70px;
    }
    .pad_top_70 {
        padding-top: 70px;
    }
    .pad_bottom_30 {
        padding-bottom: 30px;
    }
    .pad_bottom_40 {
        padding-bottom: 40px;
    }
    .pad_bottom_50 {
        padding-bottom: 50px;
    }
    .pad_top_bottom_30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pad_top_bottom_40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pad_top_bottom_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pad_top_bottom_60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    /*=== padding css end ===*/
    /*====== Searchbar css Start ======*/
    .searchbar_dv{
        position: relative;
        width: 100%;
    }
    .searchbar_dv input {
        width: 100%;
        background: var(--gray_color);
        color: #ffffff;
        font-weight: 500;
        padding: 0 36px 0 15px;
        border-radius: 2em;
        height: 45px;
        border: none;
    }
    .searchbar_dv .search_icon {
        position: absolute;
        right: 15px;
        top: 13px;
        background: transparent;
        border: none;
        padding: 0;
        color: #ffffff;
        font-size: 20px;
    }
    .hdr_searchbar {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 18%;
        right: 20%;
        z-index: 1;
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
        width: 300px;
    }
    .hdr_searchbar.search_open {
        visibility: visible;
        opacity: 1;
        right: 20.7%;
    }
    /*====== Searchbar css End ======*/
    /*====== Placeholder css start ======*/
    .white_input_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ffffff;
    }
    .white_input_text::-moz-placeholder { /* Firefox 19+ */
      color: #ffffff;
    }
    .white_input_text:-ms-input-placeholder { /* IE 10+ */
      color: #ffffff;
    }
    .white_input_text:-moz-placeholder { /* Firefox 18- */
      color: #ffffff;
    }
    /*====== Placeholder css End ======*/
    .gf_dashboard_wrapper {
        min-height: 100vh;
    }
    .gf_dash_header{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
    .dash_close_btn {
        display: inline-block;
        border: 1px solid #fff;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
    }
    .dash_close_btn i:before {
        transition: all ease-in 0.25s;
        -webkit-transition: all ease-in 0.25s;
        -moz-transition: all ease-in 0.25s;
    }
    .gf_dashboard_sidebar {
        width: 300px;
        background: var(--black_color);
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        overflow-y: auto;
        -webkit-transition: all ease-in 0.5s;
        -moz-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
    .gf_dashboard_navs {
        padding: 20px;
    }
    .gf_dashboard_navs ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .gf_dashboard_navs ul li a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px;
        border-radius: 6px;
        text-transform: capitalize;
    }
    .gf_dashboard_navs ul li a:hover, .gf_dashboard_navs ul li a:focus {
        background: var(--blue_color);
        color: #ffffff;
    }
    .gf_dashboard_navs ul li a .nav_icon {
        font-size: 25px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .gf_dash_content {
        padding-left: 300px;
        -webkit-transition: all ease-in 0.5s;
        -moz-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
   .gf_dash_content_inr {
        padding: 50px 30px;
    }
    /*========= header css ============*/
    /*========= dashboard close css ============*/
   .gif_dashboard_close .gf_dashboard_sidebar {
        width: 100px;
        text-align: center;
    }
    .gif_dashboard_close .gf_dash_header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .gif_dashboard_close .dash_close_btn i:before {
        content: "\f061";
    }
    .gif_dashboard_close .gf_dashboard_navs {
        padding: 20px 15px;
    }
    .gif_dashboard_close .gf_dashboard_navs ul li a {
        padding: 0;
        display: inline-block;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        font-size: 20px;
        margin: 5px 0;
        text-align: center;
        background: var(--gray_color);
        color: #ffffff;
    }
    .gif_dashboard_close .gf_dashboard_navs ul li a .nav_text {
        display: none;
    }
    .gif_dashboard_close .gf_dashboard_navs ul li a .nav_icon {
        margin: 0;
        font-size: 20px;
    }
    .gif_dashboard_close .gf_dashboard_navs ul li a:hover, 
    .gif_dashboard_close .gf_dashboard_navs ul li a:focus{
        background: var(--blue_color);
    }
    .gif_dashboard_close .gf_dash_content{
        padding-left: 100px;
    }
    /*========= dashboard close css ============*/
    .dash_page_header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        background: var(--black_color);
        padding: 15px;
        border-radius: 8px;
        align-items: center;
        margin-bottom: 20px;
    }
    .dash_page_header .dash_page_title h3 {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 600;
    }
    .l_user_dropdown {
        position: relative;
        min-width: 150px;
    }
    .l_dropdown_btn {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .l_dropdown_btn:hover {
        text-decoration: none;
    }
    .l_dropdown_btn .user_title {
        display: inline-block;
        padding-left: 6px;
        font-size: 14px;
        color: #fff;
        overflow: hidden;
        max-width: 105px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .l_dropdown_btn:after {
        position: absolute;
        content: "\f078";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-size: 12px;
        top: 10px;
        right: 0;
        color: #ffffff;
    }
    .l_dropdown_btn > img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .l_user_dropdownmenu {
        position: absolute;
        top: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        list-style: none;
        text-align: left;
        background: var(--black_color);
        min-width: 150px;
        z-index: 11;
        padding: 10px 0 0px;
        border-bottom: 3px solid var(--blue_color);
        border-radius: 0 0 4px 4px;
        display: none;
    }
    .l_user_dropdownmenu li a {
        padding: 6px 10px;
        display: block;
        font-size: 15px;
        line-height: 20px;
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
    }
    .l_user_dropdownmenu li a:hover {
        color: #fff;
        background: var(--blue_color);
    }
    .l_user_dropdownmenu li a i {
        margin-right: 5px;
        font-size: 14px;
        width: 20px;
    }
    .l_user_dropdownmenu.show_menu{
        display: block;
    }
    /*========= header css ============*/
    /*========= dashboard form css start ============*/
    .gif_dashboard_form .form_group {
        margin-bottom: 20px;
        align-items: center;
    }
    .gif_dashboard_form .form_group .labels {
        font-size: 17px;
    }
    .gif_dashboard_form .form_group input, .gif_dashboard_form .form_group select{
        width: 100%;
        height: 45px;
        padding: 0 15px;
        border: none;
        background: var(--gray_color);
        color: #ffffff;
        border-radius: 2em;
    }
    .gif_dashboard_form .form_group textarea {
        width: 100%;
        height: 120px;
        padding: 10px 15px;
        border: none;
        background: var(--gray_color);
        color: #ffffff;
        border-radius: 8px;
        resize:none;
    }
    /*========= dashboard form css End ============*/
    /*====== select 2 css start ======*/
    .gif_dashboard_form .select2-container {
        width: 100% !important;
    }
    .gif_dashboard_form .select2-container .select2-selection {
        background: var(--gray_color);
        padding: 10px;
        border: none;
        border-radius: 2em;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    .gif_dashboard_form .select2-container .select2-selection .select2-selection__rendered {
        margin:0;
    }
    /*====== select 2 css End ======*/
    /*========= dashboard Table css start ============*/
    .gif_dasboard_table .table tr td, .gif_dasboard_table .table tr th {
        border-bottom: 1px solid #ccc;
        color: #fff;
        padding: 13px 10px;
    }
    .gif_dasboard_table .table tr th {
        border-top: 0;
    }
    .tbl_action_btns .a_icon {
        text-decoration: none;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 15px;
        border-radius: 50%;
        text-align: center;
        background: transparent;
        color: var(--blue_color);
        border: 1px solid var(--blue_color);
        cursor: pointer;
    }
    .tbl_action_btns .a_icon:hover, .tbl_action_btns .a_icon:focus {
        background: var(--blue_color);
        color: #ffffff;
    }
    .gif_dash_searchbar_box{
        margin-bottom: 30px;
    }
    /*========= dashboard Table css End ============*/