@media(min-width: 1200px) {
	.container {
	    max-width: 1170px;
	}
}
@media(max-width: 1199px) {
	.hdr_searchbar {
	    right: 24%;
	}
	.hdr_searchbar.search_open {
	    right: 25%;
	}
}
@media(min-width: 992px) {
	.gif_login_page {
	    padding-bottom: 150px;
	    min-height: 100vh;
	}
	.gif_register_page {
	    padding-bottom: 100px;
	}
	.mobile_show_ad{
		display: none;
	}
	.gif_sidebar_navs .gif_mobile_navs {
	    display: none;
	}
	.sidebar_mobile_tabs{
		display: none;
	}
	.mobile_similar_post{
		display: none;
	}
	.gif_header_section.fixed_header {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 11;
	    width: 100%;
	    animation: fromtop .6s 1 .1s ease-in-out both;
	    -webkit-animation: fromtop .6s 1 .1s ease-in-out both;
	    -moz-animation: fromtop .6s 1 .1s ease-in-out both;
	    box-shadow: 0 0 15px rgb(0 0 0 / 80%);
	    -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 80%);
	    -moz-box-shadow: 0 0 15px rgb(0 0 0 / 80%);
	}
}
@media(max-width: 991px) {
	/*=== header searchbar css ===*/
	.hdr_searchbar {
		top: 10px;
	    right: 29%;
	}
	.hdr_searchbar.search_open {
	    right: 30%;
	}
	/*=== header searchbar css ===*/
	.nav_toggle {
	    width: 40px;
	    height: 27px;
	    margin-left: 10px;
	}
	.nav_toggle i {
	    height: 6px;
	}
	.header_right_dv .h_icon {
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    font-size: 18px;
	}
	.h_search_icon {
	    margin: 0 10px 0 0px;
	}
	.h_login_btn{
		height: 40px;
		line-height: 40px;
		padding: 0 18px;
		font-size: 15px;
	}
	.header_container {
	    position: relative;
	    padding: 10px 0;
	}
	.gif_navigations{
		display: none;
	}
}
@media(max-width: 991px) {
   .fix_social_icons {
	    left: 5px;
	    width: 35px;
	}
	.fix_social_icons .s_icons {
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    font-size: 16px;
	    margin: 3px 0px;
	}
	/*=== sidebar menu css ===*/
	.sidebar_fix_menu {
	    width: 300px;
	    -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
        transform: translateX(300px);
	}
	/*=== sidebar menu css ===*/
	/*=== trending Gif ===*/
	.tr_gif_item .gif_image img {
	    height: 150px;
	}
	/*=== trending Gif ===*/
	.sidebar_widget.hide_in_mobile{
		display: none;
	}
	.desktop_similar_post{
		display: none;
	}
	.gif_similar_post_dv {
	    margin-top: 0;
	}
	.gif_similar_post_dv .similar_post_title {
	    margin-bottom: 20px;
	    font-size: 25px;
	}
	.gif_single_container {
	    margin-bottom: 30px;
	}
	.gif_single_tag_dv {
	    display: none;
	}
	.sidebar_mobile_tabs {
	    margin-bottom: 20px;
	}
	.gif_detail_page_wrapper {
	    padding-bottom: 100px;
	}
}
@media(min-width: 768px) {
	.fix_social_icons .s_open_icon {
		display: none;
	}
}
@media(max-width: 767px) {
	.fix_social_icons {
	    left: 5px;
	    width: 40px;
	}
	.fix_social_icons .s_open_icon {
	    display: inline-block;
	    transition: all ease-in 0.15s;
	    -webkit-transition: all ease-in 0.15s;
	    -moz-transition: all ease-in 0.15s;
	    margin-top: 10px;
	    width: 35px;
	    height: 35px;
	    line-height: 36px;
	    font-size: 20px;
	    text-align: center;
	    background: #ffffff;
	    color: var(--blue_color);
	    border-radius: 50%;
	    box-shadow: 0 0 12px rgb(0 0 0 / 50%);
	    cursor: pointer;
	}
	.fix_social_icons_dv {
		transform: translateX(-50px);
		-webkit-transform: translateX(-50px);
		-moz-transform: translateX(-50px);
		-ms-transform: translateX(-50px);
		-o-transform: translateX(-50px);
		opacity: 0;
		visibility: hidden;
		transition: all ease-in 0.25s;
		-webkit-transition: all ease-in 0.25s;
		-moz-transition: all ease-in 0.25s;
	}
	.fix_social_icons.open_social_dv {
	    z-index: 1;
	}
	.fix_social_icons.open_social_dv .fix_social_icons_dv {
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		opacity: 1;
		visibility: visible;
	}
	.fix_social_icons.open_social_dv .s_open_icon{
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	.gif_contact_box {
	    padding: 20px;
	}
	.gif_contact_form .form_group {
	    margin-bottom: 16px;
	}
	.sticky_ad_div .sticky_ad_image {
	    max-width: 510px;
	    margin: 0 auto;
	}
	/*==== like fav css ====*/
	.gif_likefav_dv {
	    padding: 5px 10px;
	}
	.gif_likefav_dv .like_icon {
	    width: 31px;
	    height: 31px;
	    line-height: 33px;
	    font-size: 18px;
	}
	.gif_likefav_dv .like_text {
	    font-size: 14px;
	}
	.gif_single_img .gif_navs .gif_nav {
	    font-size: 15px;
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    margin-top: -20px;
	}
	/*==== like fav css ====*/
}
@media(max-width: 767px) {
	/*=== Heder searchbar ===*/
	.hdr_searchbar {
	    top: 100%;
	    right: auto;
	    left: 0;
	    width: 100%;
	    background: var(--blue_color);
	    padding: 3px;
	    border-radius: 2em;
	}
	.searchbar_dv input {
	    height: 40px;
	    font-size: 14px;
	    padding: 0 30px 0 11px;
	}
	.searchbar_dv .search_icon {
	    right: 11px;
	    top: 11px;
	    font-size: 17px;
	}
	/*=== Heder searchbar ===*/
	.gf_asside_wrapper, .gif_detail_page_wrapper {
	    padding-top: 30px;
	}
	/*=== trending Gif ===*/
	.tr_gif_item .gif_image img {
	    height: 120px;
	}
	/*=== trending Gif ===*/
	/*=== sidebar menu css ===*/
	.cookies_popup_wrap {
	    padding: 0 10px;
	}
	.sidebar_fix_menu_body {
	    padding-top: 65px;
	    padding-bottom: 20px;
	}
	.sidebar_fix_menu .sidebar_close_btn {
	    width: 25px;
	}
	.sidebar_fix_menu .sidebar_close_btn img {
	    width: 25px;
	    height: 25px;
	}
	.sidemenu_logo {
	    padding-left: 20px;
	}
	.gif_sidebar_navs {
	    margin-top: 20px;
	}
	.gif_sidebar_navs ul li a {
	    line-height: 33px;
	    padding: 0 20px;
	    font-size: 15px;
	}
	/*=== sidebar menu css ===*/
	.sidebar_widget .widget_title {
		padding: 11px 15px;
		border-bottom: 1px solid #fff;
	}
	.sidebar_widget .widget_title h4 {
	    font-size: 17px;
	}
	/*Account widget css*/
	.account_widgets_list .ac_img {
	    width: 41px;
	}
	.account_widgets_list .ac_img img {
	    width: 41px;
	    height: 41px;
	}
	.account_widgets_list .ac_title_dv {
	    padding-left: 50px;
	    font-size: 15px;
	    padding-top: 10px;
	}
	/*Account widget css*/
	/*== Login form css ==*/
	.gif_login_form .login_btn, 
	.gif_login_form .register_btn {
	    font-size: 15px;
	    font-weight: 500;
	}
	.gif_login_form .form_group {
	    margin-bottom: 15px;
	}
	.gif_login_form .form_group input, 
	.gif_login_form .account_reg_text p {
	    font-size: 14px;
	}
	.login_form_heading .login_title {
	    font-size: 21px;
	    line-height: 26px;
	}
	.login_form_heading p {
	    font-size: 14px;
	    line-height: 20px;
	}
	.gif_login_form .forget_pass_text a {
	    font-size: 15px;
	}
	/*== Login form css ==*/
	.single_share_text {
	    -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.single_share_text .share_title {
	    margin-right: 0;
	    margin-bottom: 5px;
	}
	.gif_share_dv, .single_share_text .share_title{
		width: 100%;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    text-align: center;
	}
	.top_advertisement_div img {
	    max-width: 320px;
	    height: 100px;
	}
	/*== Cookies css ==*/
	.ck_popup_contents {
	    padding: 20px 15px;
	}
	.ck_popup_contents h3 {
	    font-size: 22px;
	}
	.ck_popup_contents p {
	    font-size: 14px;
	    line-height: 23px;
	}
	.ck_popup_contents .ck_settings {
	    text-decoration: underline;
	    font-size: 14px;
	}
	.ck_buttons_divs .ck_buttons {
	    height: 38px;
	    line-height: 38px;
	    padding: 0 18px;
	    font-size: 14px;
	}
	/*== Cookies css ==*/
}
@media(min-width: 361px) and (max-width: 440px) {
	.h_gif_item .gif_image img {
	    height: 130px;
	}
}
@media(max-width: 575px) {
	.sticky_ad_div .sticky_ad_image {
	    width: 100%;
	    max-width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	}
}
@media(max-width: 480px) {
	.h_gif_overlay_text .gif_title h4 {
	    font-size: 16px;
	}
   .trending_gif_widget .tr_gif_colm {
	    width: 50%;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	/*== header css ==*/
	.site_logo a img {
	    max-height: 35px;
	}
	.h_login_btn {
	    height: 35px;
	    line-height: 35px;
	    padding: 0 16px;
	    font-size: 14px;
	}
	.header_right_dv .h_icon {
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    font-size: 15px;
	}
	.h_search_icon {
	    margin: 0 7px 0 0px;
	}
	.nav_toggle {
	    width: 35px;
	    margin-left: 7px;
	}
	/*== header css ==*/
	.form_or_text_dv {
	    font-size: 14px;
	}
}
@media(max-width: 425px) {
	.form_or_text_dv:before, .form_or_text_dv:after {
	    width: 43%;
	}
	.other_login_btn .login_with_btn {
		width: 100%;
		min-width: 100%;
	}
}
@media(max-width: 375px) {
	.h_gif_overlay_text .gif_title h4 {
	    font-size: 15px;
	}
	/*=== sidebar menu css ===*/
	.sidebar_fix_menu {
	    width: 260px;
	    -webkit-transform: translateX(260px);
	    -moz-transform: translateX(260px);
	    -ms-transform: translateX(260px);
	    -o-transform: translateX(260px);
	    transform: translateX(260px);
	}
	/*=== sidebar menu css ===*/
	.gf_sidebar_tabs > .tab_link {
	    width: 45%;
	}
}
@media(max-width: 360px) {
	.tr_gif_item .gif_image img {
	    height: 105px;
	}
	.h_gif_item .gif_image img {
	    height: 140px;
	    width: 100%;
	    object-fit: cover;
	}
}
@media(max-width: 330px) {
	.h_gif_grid_colm {
		width:100%;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    text-align: center;
	}
	.h_gif_item {
	    width: 230px;
	    display: inline-block;
	}
}
@media(max-width: 320px) {
	.gif_login_form .account_reg_text {
	    margin-top: 15px;
	    text-align: center;
	}
	.gif_login_form .account_reg_text p {
	    font-size: 13px;
	}
}